<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yogesh.cocguide" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Army_Activity"
            android:label="@string/title_activity_army_"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogesh.cocguide.MainActivity" />
        </activity>
        <activity
            android:name=".Defense_Activity"
            android:label="@string/title_activity_defense_"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogesh.cocguide.MainActivity" />
        </activity>
        <activity
            android:name=".Others_Activity"
            android:label="@string/title_activity_others_"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogesh.cocguide.MainActivity" />
        </activity>
        <activity
            android:name=".Resources_Activity"
            android:label="@string/title_activity_resources_"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogesh.cocguide.MainActivity" />
        </activity>
        <activity
            android:name=".Traps_Activity"
            android:label="@string/title_activity_traps_"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogesh.cocguide.MainActivity" />
        </activity>
        <activity
            android:name=".Troops_Activity"
            android:label="@string/title_activity_troops_"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogesh.cocguide.MainActivity" />
        </activity>
        <activity
            android:name=".NormalTroops"
            android:label="@string/title_activity_normal_troops"
            android:parentActivityName=".Troops_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogesh.cocguide.Troops_Activity" />
        </activity>
        <activity
            android:name=".Darktroops"
            android:label="@string/title_activity_darktroops"
            android:parentActivityName=".Troops_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogesh.cocguide.Troops_Activity" />
        </activity>
        <activity
            android:name=".Heroes"
            android:label="@string/title_activity_heroes"
            android:parentActivityName=".Army_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogesh.cocguide.Army_Activity" />
        </activity>
    </application>

</manifest>
